body{
    background-color: rgba(0, 0, 0, .9);
}

nav{
    border-bottom: 0.5px solid white;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;       
}

#divMaterias{
    display: flex;
    flex-direction: column;
}

.Materias{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

#nav{
    font-size: 20px;
}

.menuToggle{
    margin-top: 2%;
    height: 20px;
    width: 20px;
}

.fechasLabo{
    color: white;
    display: none;
}

.codigo{
    margin-left: 30px;
    background-color: white; 
    display: none;
    width: 90%;
    height: 350px;
}

.descripciones{
    color: white; 
    size: 5px; 
    display: none; 
    margin-left: 20px;
}